.heatIndexGreen {
  color: darkgray;
background-color: lightgreen;
padding: 4px 8px 4px 8px;
border-radius: 20px;
}

.heatIndexYellow {
  color: black;
background-color: yellow;
padding: 4px 8px 4px 8px;
border-radius: 20px;
}

.heatIndexRed {
  color: black;
background-color: red;
padding: 4px 8px 4px 8px;
border-radius: 20px;
}

.smallLead {
    font-size: 14px;
}